body{
  font-family: Arial;
  margin:40px;
}
.header{
  text-align:center;
  border-bottom:2px solid black;
  padding-bottom:10px;
}
.header img{
  height:60px;
}
.header h2{
  margin:5px;
}
.print-hide{
  display:none;
}
@media print{
  button, select { display:none; }
}
